<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <form class="form-horizontal" novalidate
          [formGroup]="expenseForm">
        <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
            <table class="table table-bordered table-hover" style="width: 1024px;">
                <thead style="color: #337AB7">
                    <th class="col-sm-2">Amount</th>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-2">Place</th>
                    <th class="col-sm-2">Payment Method</th>
                    <th class="col-sm-2">For Person</th>
                    <th class="col-sm-2"></th>
                </thead>
                <!-- Add New Event -->
                <tbody *ngIf="expenseId == -1">
                <tr>
                    <td>
                        <input class="form-control"
                               id="amountNewEventId"
                               type="text"
                               placeholder="Amount (required)"
                               formControlName="amount"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td>
                        <input class="form-control"
                               id="dateNewEventId"
                               type="date"
                               placeholder="Date (required)"
                               formControlName="date"
                               #date
                               (keyup.enter)="addExpense()"
                        />
                        <!--<div class='input-group date' id='datetimepicker2'>-->

                        <!--<span class="input-group-addon">-->
                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                        <!--</span>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <input class="form-control"
                               id="placeNewEventId"
                               type="text"
                               placeholder="Enter a Place"
                               formControlName="place"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td>
                        <select class="form-control"
                                id="paymentMethodNewEventId"
                                formControlName="paymentMethod"
                                (keyup.enter)="addExpense()"
                        >
                            <option value="" disabled selected hidden>Select a method...</option>
                            <option value="-1">CASH</option>
                            <option value="{{method.id}}" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control"
                               id="forPersonNewEventId"
                               type="text"
                               placeholder="Enter 'For Person'"
                               formControlName="forPerson"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td></td>
                </tr>
                </tbody>
                <tbody *ngIf="event && event.expenses">
                <tr>
                    <td>
                        <input class="form-control"
                               id="amountId"
                               type="text"
                               placeholder="Amount (required)"
                               formControlName="amount"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td>
                        <input class="form-control"
                               id="dateId"
                               type="date"
                               placeholder="Date (required)"
                               formControlName="date"
                               #date
                               (keyup.enter)="addExpense()"
                        />
                        <!--<div class='input-group date' id='datetimepicker2'>-->

                            <!--<span class="input-group-addon">-->
                                <!--<span class="glyphicon glyphicon-calendar"></span>-->
                            <!--</span>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <input class="form-control"
                               id="placeId"
                               type="text"
                               placeholder="Enter a Place"
                               formControlName="place"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td>
                        <select class="form-control"
                                id="paymentMethodId"
                                formControlName="paymentMethod"
                                (keyup.enter)="addExpense()"
                        >
                            <option value="" disabled selected hidden>Select a method...</option>
                            <option value="-1">CASH</option>
                            <option value="{{method.id}}" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control"
                               id="forPersonId"
                               type="text"
                               placeholder="Enter 'For Person'"
                               formControlName="forPerson"
                               (keyup.enter)="addExpense()"
                        />
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let expense of event.expenses">
                    <td (click)="openUpdateExpense(expense)">
                        <span *ngIf="expense.id > 0">
                                {{expense.amount | currency:'VND':true:'1.2-2'}}
                            </span>
                        <span *ngIf="(expense.id * -1) > 0">
                            <input class="form-control"
                                   id="amount_{{expense.id}}"
                                   type="text"
                                   value="{{expense.amount}}"
                                   formControlName="amount_edit"
                                   (keyup.enter)="updateExpense(expense.id)"
                                   (keyup.esc)="closeUpdateExpense(expense)"
                            />
                        </span>
                    </td>
                    <td (click)="openUpdateExpense(expense)">
                        <span *ngIf="expense.id > 0">
                                {{expense.date | date: 'dd-MM-yy'}}
                            </span>
                        <span *ngIf="(expense.id * -1) > 0">
                            <input class="form-control"
                                   id="date_{{expense.id}}"
                                   type="text"
                                   value="{{expense.date | date: 'dd-MM-yy'}}"
                                   formControlName="date_edit"
                                   (keyup.enter)="updateExpense(expense.id)"
                                   (keyup.esc)="closeUpdateExpense(expense)"
                            />
                        </span>
                    </td>
                    <td (click)="openUpdateExpense(expense)">
                        <span *ngIf="expense.id > 0">
                                {{expense.place}}
                            </span>
                        <span *ngIf="(expense.id * -1) > 0">
                            <input class="form-control"
                                   id="place_{{expense.id}}"
                                   type="text"
                                   value="{{expense.place}}"
                                   formControlName="place_edit"
                                   (keyup.enter)="updateExpense(expense.id)"
                                   (keyup.esc)="closeUpdateExpense(expense)"
                            />
                        </span>
                    </td>
                    <td (click)="openUpdateExpense(expense)">
                        <span *ngIf="expense.id > 0">
                            {{expense.paymentMethod == 'CASH' ? expense.paymentMethod : (expense.cardNumber + ', ' + expense.cardInfo)}}
                        </span>
                        <span *ngIf="(expense.id * -1) > 0">
                            <select class="form-control"
                                    id="paymentMethod_{{expense.id}}"
                                    formControlName="paymentMethod_edit"
                                    (keyup.enter)="updateExpense(expense.id)"
                            >
                                <option value="-1" [selected]="expense.cardId <= 0">CASH</option>
                                <option value="{{method.id}}" [selected]="expense.cardId == method.id" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                            </select>
                        </span>

                    </td>
                    <td (click)="openUpdateExpense(expense)">
                        <span *ngIf="expense.id > 0">
                            {{expense.forPerson}}
                        </span>
                        <span *ngIf="(expense.id * -1) > 0">
                            <input class="form-control"
                                   id="forPerson_{{expense.id}}"
                                   type="text"
                                   value="{{expense.forPerson}}"
                                   formControlName="forPerson_edit"
                                   (keyup.enter)="updateExpense(expense.id)"
                            />
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" (click)="updateExpense(expense.id)">Update</button> |
                        <button type="button" class="btn btn-link" (click)="deleteExpense(event.id, expense.id)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>{{event.total | currency:'VND':true:'1.2-2'}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <modal (modalOutput)="getData($event)">
    </modal>
</div>